#Art_gallery_shery{
    width: 100%;
    height: 100vh;
    background-color: #e6deda;
    position: relative;
    z-index: 3;
}
.inline_text{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-between;
    height: 22vh;
    overflow: hidden;
}
.inline_text > h1{
    font-size: 30px;
    padding-top: 70px;
    font-weight: 550;
}
.inline_text > p{
    width: 30%;
    text-align: right;
    font-size: 13px;
    padding-top: 80px;
    font-weight: 400;
}
#grid_sections{
    width: 100%;
    height: 450px;
    display: flex;
    overflow: hidden;
}

.sections{
    border-bottom: .1rem solid rgba(53, 53, 53, .2);
    border-right: .1rem solid rgba(53, 53, 53, .2);
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.sections::after{
    background: #fff;
    content: "";
    height: .1rem;
    left: 0;
    opacity: .6;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.sections::before{
    background: #fff;
    content: "";
    height: 100%;
    right: 0;
    opacity: .6;
    position: absolute;
    bottom: 0;
    width: 0.1rem;
}

.top{
    width: 21.65vw;
   display: flex;
   justify-content: center;
   align-items: center;
}
.img{
    height: 310px;
    width: 80%;
}
.bottom{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    align-items: flex-end;
}
.bottom>h1{
    font-size: 40px;
    color: #c2aa9d;
}
.name{
    display: flex;
    flex-direction: column;
    gap: 5px;
}