*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: 100%;
}

body{
    background-color: #e6deda ;
    font-family: "Inter", sans-serif;
}
::-webkit-scrollbar{
    display: none;
}
header{
    position: fixed;
    background-color: #e6deda;
    height: 69px;
    width: 100%;
    padding: 15px;
    display: flex;
    top:0;
    overflow: hidden;
    z-index: 4;
    justify-content: space-between;
     color: black;
     transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.mouse-follower {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    z-index: 50;
    width: 5vw;
    height: 5vw;
    background-color : black; /* Yellow color, change as desired */
    border-radius: 50%; /* Circular shape */
    transform-origin: center center;
    transform: translate(-50%,-50%);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1); /* Smooth transition */
}
.mainas {
    opacity: 1;
}
.header_after{
    background-color: black;
    color: white !important;
}

#Header_title {
height: 100%;

text-align: center;
}

#Header_title > h3{
  position: absolute;
  top: 23px ;
  left: 50%;
  transform: translate(-50%,0);
  font-size: .9rem;
  font-weight: 550;

}
#Header_end{
    display: flex;
    height: 100%;

    gap: 15px;
    justify-content: space-between;
}
#Header_end > h3{
    position: relative;
    top:25%;
    font-size: .9rem;
    font-weight: 550;
  }

header svg{
  top:0;
}
